/********** Classes for Game Header Section ****************/
.games-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--txt-clr-dark);
    color: var(--txt-clr-light);
    gap: 1rem;
}

.games-header__filter {
    padding: 0.5rem;
    border: 0.25rem solid var(--bg-clr-dark);
    min-width: 50dvw;
    max-width: 75%;
}

/********** Classes for Game Section ****************/
.games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.games__card {
    display: flex;
    flex-direction: column;
    border: 0.25rem solid black;
    flex-grow: 1;
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--txt-clr-light);
}

.games__game-name {
    margin: 0.5rem;
    text-align: center;
    line-height: 2rem;
}

.games__game-developer {
    margin: 0.5rem;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .games {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 425px) {
    .games {
        display: grid;
        grid-template-columns: 1fr;
    }
}
