/********** Classes for Search Section ****************/
.search {
    background-color: var(--txt-clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.search__title {
    color: var(--txt-clr-light);
    padding: 1rem 0;
}

.search__search-bar-wrapper {
    width: 100%;
}

.search__search-form {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.search__search-bar {
    margin-left: auto;
    margin-right: 1.5rem;
}

.search__search-input {
    padding: 1rem;
    border: 0.25rem solid var(--bg-clr-dark);
}

.search__search-btn {
    padding: 1rem;
    border: 0.25rem solid white;
    background-color: var(--bg-clr-md);
    color: var(--txt-clr-light);
}

.search__search-btn:hover {
    border-color: yellow;
}

/********** Classes for Games Section ****************/
.games {
    display: flex;
    flex-direction: column;
}

.games__card {
    display: flex;
    flex-direction: column;
    border: 0.25rem solid black;
    flex-grow: 1;
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--txt-clr-light);
}

.games__game-name {
    margin: 0.5rem;
}

.games__game-developer {
    margin: 0.5rem;
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
    .search__search-form {
        gap: 1rem;
    }

    .search__search-input {
        padding: 0.75rem;
        border: 0.25rem solid var(--bg-clr-dark);
    }
}
