/*
    Site-wide styling
*/

:root {
    --bg-clr-dark: hsl(0, 100%, 36%);
    --bg-clr-md: #8f3535;
    --bg-clr-light: #877373;
    --txt-clr-dark: black;
    --txt-clr-light: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P";
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-clr-light);
    font-size: 90%;
}

.page-wrapper {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: flex-start;
}

/************* Navigation Bar Classes **********/
.nav {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-clr-dark);
    color: var(--txt-clr-light);
    padding: 1rem 0;
}

.nav__logo {
    padding-left: 1.25rem;
    align-self: center;
}

.nav__list {
    margin-left: auto;
    margin-right: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__list-item {
    list-style-type: none;
    padding: 0.25rem;
}

.nav__list-item__link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.nav__list-item__link:hover {
    color: hsl(83, 100%, 50%);
}

/************* Footer Classes **********/
.footer {
    margin-top: auto;
}

.footer__info {
    background-color: var(--bg-clr-dark);
    text-align: center;
    padding: 1.5rem;
    color: white;
}

/****** Utility Classes *****/
.hidden {
    display: none;
}

/******* Media Queries ********/
/*============================*/
/* breakpoints: 768, 425 */

@media (max-width: 768px) {
    body {
        font-size: 75%;
    }
}

@media (max-width: 425px) {
    .nav {
        flex-direction: column;
        background-color: var(--bg-clr-dark);
        flex-wrap: wrap;
        padding: 1rem;
    }

    .nav__logo {
        padding: 0;
        margin: 0.5rem;
        font-size: 1rem;
    }

    .nav__list {
        justify-content: space-evenly;
        margin: 0;
    }
}
